services:
  # -----------------------------
  # 1. API Gateway
  # -----------------------------
  - type: web
    name: api-gateway
    env: docker
    plan: free
    dockerContext: .
    dockerfilePath: Dockerfile.api   # <--- Pointing to specific file
    envVars:
      - key: PORT
        value: 8080
      - key: AUTH_SERVICE_URL
        value: http://auth-service:8083
      - key: PAYMENT_SERVICE_URL
        value: http://payment-service:8081
      - key: WEBHOOK_SERVICE_URL
        value: http://webhook-service:8082

  # -----------------------------
  # 2. Auth Service
  # -----------------------------
  - type: web
    name: auth-service
    env: docker
    plan: free
    dockerContext: .
    dockerfilePath: Dockerfile.auth  # <--- Pointing to specific file
    envVars:
      - key: PORT
        value: 8083
      - key: MONGO_URI
        sync: false

  # -----------------------------
  # 3. Payment Service
  # -----------------------------
  - type: web
    name: payment-service
    env: docker
    plan: free
    dockerContext: .
    dockerfilePath: Dockerfile.payment  # <--- Pointing to specific file
    envVars:
      - key: PORT
        value: 8081
      - key: STRIPE_SECRET_KEY
        sync: false

  # -----------------------------
  # 4. Webhook Service
  # -----------------------------
  - type: web
    name: webhook-service
    env: docker
    plan: free
    dockerContext: .
    dockerfilePath: Dockerfile.webhook  # <--- Pointing to specific file
    envVars:
      - key: PORT
        value: 8082
      - key: STRIPE_WEBHOOK_SECRET
        sync: false
      - key: MONGO_URI
        sync: false